#root, html, body {
  margin: 0;
  padding: 0;
  height: 100%!important;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navbar {
  color: white;
  text-align: center;
}
.scrollable-container {
  max-height:82vh; /* Set the list container to take 100% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling when the content overflows */
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
}
